@tailwind base;

@layer base {
  .button {
    @apply inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-100 px-6 py-3 text-xl font-medium text-indigo-700 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 w-full;
  }
}

@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 0px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 0px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 30px;
}
